<!DOCTYPE html>
<h3>TinyApp</h3>
<table>
  <tr>
    <td>
      <% if(user) { %>
        <div>
          <form action="/logout" method="POST">
            <input type="submit" value="Log out">
            <span> "hello <%= user.email %>" </span>
          </form>
        </div>
        <div>
          <a href="/urls"> My links </a>
        </div>
      <% } else { %>
        <div>
          <a href="/login"> Log in </a>
          <a href="/register" style="margin-left: 30px"> Register</a>
        </div>
       <% } %>
    </td>
  </tr>
</table>