<!DOCTYPE html>
<h3>TinyApp</h3>
<table>
  <tr>
    <td>
      <% if(username) { %>
        <div>
          <form action="/logout" method="POST">
            <input type="submit" value="Log out">
            <span> "hello <%= username %>" </span>
          </form>
        </div>
      <% } else { %>
        <div>
          <form action="/login" method="POST">
            <label for="user"></label>
            <input id="user" type="text" name="username" value="username">
            <input type="submit" value="Sign in">
          </form>
        </div>

      <% } %>
  </tr>
</table>