<!DOCTYPE html>
<h3>TinyApp</h3>
<form action="/login" method="POST">
  <label for="user"></label>
  <input id="user" type="text" name="username" value="username">
  <input type="submit" value="Sign in">
</form>