<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body style="padding-left: 15px">
    <form action="/login" method="POST">
      <div>
        <label for="email-field" style="margin-top: 30px">E-mail:</label>
        <input id="email-field" type="email" name="email" style="width: 300px">
      </div>
      </br>
      <div>
        <label for="password-field">Password:</label>
        <input id="password-field" type="password" name="password" style="width: 300px">
        </br>
        <input type="submit" value="Submit" style="margin-top: 20px">
      </div>
    </form>
</body>
</html>