<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
        <% include ./partials/_header %>
    </header>
    <h1>
    ShortURL : <%= shortURL %>
    </h1>
    <form action="/urls/<%= shortURL%>" method="POST">
      <label for="URL"></label>
      <input id="URL" type="text" name="update" value="<%= fullURL%>">
      <input type="submit" value="Update">
    </form>
  </body>
</html>
