<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
  <body style="padding-left: 15px">
    <header>
        <% include ./partials/_header %>
    </header>
    <h4>
    ShortURL : <%= shortURL %>
    </h4>
    <table>
      <form action="/urls/<%= shortURL%>" method="POST">
        <input id="URL" type="text" name="update" value="<%= fullURL%>" style="width: 300px">
        <input type="submit" value="Update" style="margin-left
        : 10px">
      </form>
      <form method="POST" action="/urls/<%= shortURL%>/delete">
        <input type="submit" value="Delete" style="margin-left
        : 10px">
      </form>
    </table>
  </body>
</html>
