<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
        <% include ./partials/_header %>
    </header>
    <table>
      <% for (let url in urls) { %>
      <tr>
        <td><%= urls[url] %> </td>
        <td><%= url %> </td>
        <td>
          <a href="/urls/<%= url%>"> Edit</a>
        </td>
        <td>
          <form method="POST" action="/urls/<%= url%>/delete">
            <input type="submit" value="delete">
          </form>
        </td>
      </tr>
      <% } %>
    </table>

    <a href="about.html"> Shorten you url here </a>
</body>
</html>
