<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% for (let url in urls) { %>
    <li> <%= urls[url] %> : <%= url %></li>
    <% } %>

    <a href="about.html"> Shorten you url here </a>
</body>
</html>